$containerWidth:940px;
$baseFontSize:14px;


//normalize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";


html, body{
    height:100%;
}

body {
    font-size: $baseFontSize;
    font-family: 'Open Sans';
    position: relative;
}

.wrapper{
    position: relative;
    width: 100%;
    min-width: $containerWidth + 20px;
    min-height: 100%;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    flex-direction:column;
  

}
.search-form {
    display: flex;
    width:100%;
    justify-content: space-between;
}
.menu{
    width: 100%;
}

.menu-list {
    display: flex;
    width:100%;
    justify-content: space-between;
    list-style-type:none;
}
.menu_link{
   
    text-decoration: none;
}