$containerWidth:940px;
$baseFontSize:14px;


//normalize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

html, body{
    height:100%;
}

body {
    font-size: $baseFontSize;
    font-family: 'Open Sans';
    position: relative;
}

.wrapper{
    position: relative;
    width: 100%;
    min-width: $containerWidth + 20px;
    min-height: 100%;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    flex-direction:column;
    height:136 px;
  

}
.search-form {
    display: flex;
    width:100%;
    justify-content: space-between;
}
.logo{
    height:24px;
    
}
.location {
display: flex;
}
.location_img {
    height:32px;
}

input {
    width:592px;
    height: 48px;
    border-radius: 30px;
    background:#F1F1F1;
    background-image:  url(/images/Union.png);   
    background-repeat: no-repeat;  
    background-position: 4px; 
 
    border:0;
}
input::-webkit-input-placeholder {
    text-align: center;
    }
input:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    }
input::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
    }
input:-ms-input-placeholder {
    text-align: center;
    }
      

.user {
    display: flex;
}
.menu{
    width: 100%;
}

.menu-list {
    display: flex;
    width:100%;
    justify-content: space-between;
    list-style-type:none;
}
.menu_link{
   
    text-decoration: none;
}